@font-face {
  font-family: 'BM Kkubulim';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/BMKkubulim/BMKkubulim.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/BMKkubulim/BMKkubulim.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/BMKkubulim/BMKkubulim.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/fonts-archive/BMKkubulim/BMKkubulim.ttf') format('truetype');
}